@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Marck+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-black:#111;
    --primary-white:#fff;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    outline:none;
    text-decoration: none;
    font-family: 'Montserrat';
}
body{
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;

}
.Search{
    display: flex;
    align-items: center;
}
.Search input{
    border: solid 1px var(--primary-black);
    padding:.5rem;
    border-right:red;
}
.Search img{
    width:2rem;
    border: solid 1px var(--primary-black);
    border-left:none;
    padding:.5rem;
}

.Logo{
    width:10%;
}
.Links{
    display: flex;
    align-items: center;
    gap:2rem;
}
.Links a{
    color:#333;
}
.Upper_nav{
    background-color: var(--primary-black);
    display: flex;
    align-items: center;
    padding: 1rem 0;
    justify-content: space-around;
}
.Auth{
    color: var(--primary-white);
}
.Upper_links{
    display: flex;
    gap:1.5rem;
}
.Upper_links img{
    width:1rem;
}
.Cart{
    display: flex;
    align-items: center;
    gap:1rem;
}
.Cart img{
    width:1rem;
}
.Cart select{
    background-color: var(--primary-black);
    color:var(--primary-white);
    border:none;
    padding:.5rem;
}
.Cart_inner{
    display: flex;
    align-items: center;
    gap:.25rem;
    color:var(--primary-white)
}
.Hero{
    background-image: url(./assets/Hero.jpg);
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    gap:1rem;
    color:var(--primary-white);
    justify-content: center;
    align-items: center;
    height:85vh;
    background-attachment: fixed;
}
.Hero span:nth-child(2){
    font-size: 2.5em;
    font-weight: bolder;
}
.Hero button{
    width:fit-content;
    padding:.5rem 1rem;
    border:solid 1px #fff;
    background:none;
    color:#fff;
    transition: all 350ms;
    cursor:pointer;
}
.Hero button:hover{
    scale:1.25;
    background-color: #000;
}
.Model{
    width:15%;
    scale:1.25;
    transform: translateY(-3rem);
    filter: drop-shadow(-10px 3px 10px #333333);
    animation:Bounce 1500ms ease forwards infinite alternate-reverse;
}
@keyframes Bounce{
    from{}
    to{
        transform: translateY(-1rem);
    }
}
.Feat-container{
    padding:1.5rem;
    display: flex;
    justify-content: center;
    gap:1rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px #33333350;
}
.Feat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    padding:3rem;
    width:20%;
    box-shadow: 0 0 2px #33333350;
    transition:all 1000ms;
    background-color: #ffc0cb50;
    cursor:pointer;
}
.Feat:hover{
    scale:1.05;
    box-shadow: 0 0 2px #333333;
}
.Feat:hover img{
    transform: rotate(360deg);
}
.Feat img{
    width:3.5rem;
    transition: all 1000ms;
}
.Feat span{
    text-align: center;
}
.Featured{
    background-image: url(./assets/white-bg.jpg);
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px #00000050;
}

.Featured_inner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:2rem;
    align-items: center;
    padding:1rem 0;
    width:40%;
}
.Price{
    background-color: var(--primary-black);
    color:var(--primary-white);
    width:100%;
    display: flex;
    flex-direction: column;
    gap:.5rem;
    padding:2rem;
    box-shadow: 0 5px 15px #000;
}
.Price span:first-child{
    font-size: .85em;
}
.Price span:nth-child(2){
    opacity:.5;
    font-size: 2em;
}
.Price span:nth-child(3){
    font-weight: bolder;
    font-size: 1.5em;
}
.Price span:nth-child(4){
    opacity: .75;
    font-size: .85em;
}
.Product_link{
    display: flex;
    margin-top: 1rem;
    gap:1rem;
}
.Product_link img{
    width:2rem;
    border:solid 1px #fff;
    padding:.5rem;
}

.Timeline{
    display: flex;
    gap:2rem;
    color:#fff;
    border:solid 1px #000;
    width:100%;
    justify-content: center;
    padding:1rem;
    background-color: #000;
    box-shadow: 0 5px 15px #000;
}
.Time{
    display: flex;
    flex-direction: column;
    gap:.5rem;
    align-items: center;
    font-size: 1.25em;
}
.Time span:first-child{
    font-weight: bold;
}
.Time span:nth-child(2){
    opacity:.5;
}
.Products{
    padding:2rem 0;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.Product_head{
    display: flex;
    flex-direction: column;
    gap:.75rem;
    align-items: center;
}

.Product_head span:first-child{
    font-size: 2em;
    font-weight: bolder;
}
.Product_head span:nth-child(2){
    font-family: 'Arimo';
    font-size: 1em;
    opacity:.75;
}
.Product_head img{
    width:10%;
}
.Slider{
    display: flex;
    width:90%;
    margin:0 auto;
    gap:1rem;
}
.Product_card{
    width:20%;
    padding:1rem;
    display: flex;
    flex-direction: column;
    gap:.5rem;
    transition:all 350ms;
    cursor:pointer;
}

.Product_card:hover{
    scale:1.05;
    box-shadow: 0 0 5px #33333375;
}
.Product_pic{
    height:20rem;
}
.Product_name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.Product_name span{
    font-weight: bold;
}
.Product_name img{
    width:1.75rem;
    border:solid .25px #333;
    padding:.25rem;
    background-color: #333;
}
.Desc{
    opacity:.75;
    font-family: 'Arimo';
}
.Arrival{
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
}
.Arrival1{
    display: flex;
    align-items: center;
    gap:1rem;
    width:45%;
}
.Arrival_details{
    display: flex;
    flex-direction: column;
    gap:.5rem;
}
.Arrival_buttons{
    display: flex;
    gap:1rem;
}
.Arrival_pic{
    height: 100%;
    width:30vh;
}
.Arrival_buttons img{
    width:2rem;
    padding:.5rem;
    border:solid 1px #333;
}
.Arrival_details span:first-child{
    padding:.5rem;
    font-size: .85em;
    background-color: #333;
    color:#fff;
}
.Arrival_details span:nth-child(2){
    font-size: 2em;
    color:#333;
}
.Arrival_details span:nth-child(3){
    font-weight: bolder;
    font-size: 1.5em;
    color:#333;
}
.Arrival_details span:nth-child(4){
    opacity:.75;
}